
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
   <p>Hi, {{ user.username }}!</p>
    <h1>Product List</h1>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if messages.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    <table border="1">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in product_data %}
            <tr>
                <td><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></td>
                <td>{{ product.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/checkout">Go to check out</a>
</body>
</html>